<section class="bz-hiw-section">
  <div class="container">
    <h2 class="light"> Get started in seconds.</h2>
    <div class="bz-hiw-items">
      <div class="col-xs-12 col-sm-4">
        <div class="hiw-item">
          <div class="hiw-item-img">
            <%= image_tag('hiw-mail.png') %>
          </div>
          <div class="hiw-item-title">Quick Access</div>
          <div class="hiw-item-desc">Signup free via Facebook or email</div>
        </div>  
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="hiw-item">
          <div class="hiw-item-img">
            <%= image_tag('hiw-group.png') %>
          </div>
          <div class="hiw-item-title">
            Join or create a Group* 
            <span>*not mandatory</span>
          </div>
          <div class="hiw-item-desc">Connect with your community</div>
        </div>  
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="hiw-item">
          <div class="hiw-item-img">
            <%= image_tag('hiw-cash.png') %>
          </div>
          <div class="hiw-item-title">Start buying and selling</div>
          <div class="hiw-item-desc">
            Buy/sell with your neighbours or across the GnS network
          </div>
        </div>  
      </div>    
    </div>
  </div>
</section>