<div id="core_padding">
  <div id="core_padding_inner">
    <div class=" container widecontainer core_section_top_container">
      <div class="row core_section_top_row wlt_main_2colsright">
        <div id="core_inner_wrap" class="clearfix">
          <article class="col-md-12" id="core_middle_column">
            <div class="core_middle_wrap">
              <div id="core_ajax_callback"></div>
              <div class="panel panel-default">
                <div class="panel-heading">Forgotten Password?</div>
                <div class="panel-body">
                  <%= form_tag password_resets_path, :method => :post, class: 'lostpasswordform' do %>
                      <div class="field">
                        <div class="form-group clearfix">
                          <%= label_tag :email %>
                          <%= text_field_tag :email, params[:email], class: 'form-control', required: true %>
                        </div>
                      </div>
                      <div class="actions"><%= submit_tag "Reset Password", class: ' btn-default btn' %></div>
                  <% end %>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
