= link_to leave_group_path({group_id: locals[:group].id}), {method: :post, remote: true, class: "bz-text-btn leave_group", data:{:confirm => 'Are you sure you want to leave this group?'}}
  |✓
  span.regular
    |Joined
 