<p>Dear <%= @winner.full_name %></p>

<p>The offer you made on <%= link_to @item.title, item_url(@item) %> has been accepted by the seller. Please contact the Seller to Arrange Pick Up time.</p>

<hr>
<p>
  Thank you,
  <br>
  Your GroupnShop Team 
</p>