<div class="bz-messages-page bz-settings-page">
  <div class="container">
    <h2 class="bz-title">
      Transactions
    </h2>
    <div class="messages-content settings-content">

      <div class="row table-header settings-transactions-tab">
        <div class="col-xs-6 col-sm-3">
          <div class="col-title box"> 
            Item Name
          </div>
        </div>
        <div class="col-xs-6 col-sm-2">
          <div class="col-title coins">
            Bought
          </div>
        </div>
        <div class="col-xs-2 hidden-xs">
          <div class="col-title coins">
            Sold
          </div>
        </div>
        <div class="col-xs-2 hidden-xs">
          <div class="col-title date">
            Date
          </div>
        </div>
        <div class="col-xs-3 hidden-xs">
          <div class="col-title msg-from">
            User
          </div>
        </div>
      </div>
      <div class="settings-transactions-tab">
         <% @bids.each do |bid| %>
          <%= render 'settings_transactions_item', bid: bid %>
        <% end %> 
      </div>

    </div>
  </div>
  
</div>
