<div class="panel panel-default" id="MyAccountBlock">
    <div class="panel-heading">
        <span>My Account</span>
    </div>
    <div class="panel-body clearfix">
        <!-- START MEMBERSHIP DISPLAY -->
        <!-- START CUSTOM TEXT DISPLAY -->
        <div class="authorheader">
            <a href=" #" class="frame">
                <img alt="" src="http://0.gravatar.com/avatar/6293f5ff44b8d2f709eb8b772ce06205?s=60&amp;d=mm&amp;r=g" srcset="http://0.gravatar.com/avatar/6293f5ff44b8d2f709eb8b772ce06205?s=120&amp;d=mm&amp;r=g 2x" class="avatar img-responsive avatar-60 photo" height="60" width="60">
                </a>
                <h1>saran </h1>
                <ul class="list-inline hidden-sm hidden-xs">
                    <li>
                        <span class="glyphicon glyphicon-info-sign"></span> Joined
                        <span class="wlt_time_key_months">01 months</span>
                        <span class="wlt_time_key_days">15 days</span>
                        <span class="wlt_time_key_hours">05 hours</span>
                        <span class="wlt_time_key_minutes">49 minutes</span> ago.
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-ok-sign"></span> 36 login's.
                    </li>
                </ul>
                <hr>
                </div>
                <div class="col-sm-6 col-md-4 accountbit" id="accbit0">
                    <a href="/pages/account">
                        <div class="account-block">
                            <div class="icon">
                                <i class="glyphicon glyphicon-user"></i>
                            </div>
                            <div class="description">
                                <h3>My Account</h3>
                                <hr>
                                    <p>Here you can view, modify and update your account details.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4 accountbit" id="accbit1">
                        <a href="">
                            <div class="account-block">
                                <div class="icon">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </div>
                                <div class="description">
                                    <h3>Create Listing</h3>
                                    <hr>
                                        <p>Here you can create a new website listing.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4 accountbit" id="accbit2">
                            <a href="" >
                                <div class="account-block">
                                    <div class="icon">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </div>
                                    <div class="description">
                                        <h3>My Listings</h3>
                                        <hr>
                                            <p>Here you can view your existing website listing.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4 accountbit" id="accbit3">
                                <a href="/pages/messages">
                                    <div class="account-block">
                                        <div class="icon">
                                            <i class="glyphicon glyphicon-envelope"></i>
                                        </div>
                                        <div class="description">
                                            <h3>My Messages</h3>
                                            <hr>
                                                <p>Here you can view any messages sent by our website members.</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-6 col-md-4 accountbit" id="accbit4">
                                    <a href="/pages/feedback">
                                        <div class="account-block">
                                            <div class="icon">
                                                <i class="glyphicon glyphicon-comment"></i>
                                            </div>
                                            <div class="description">
                                                <h3>Feedback</h3>
                                                <hr>
                                                    <p>Here you can view feedback left and received.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-md-4 accountbit" id="accbit5">
                                        <a href="" >
                                            <div class="account-block">
                                                <div class="icon">
                                                    <i class="glyphicon glyphicon-star"></i>
                                                </div>
                                                <div class="description">
                                                    <h3>My Favorites</h3>
                                                    <hr>
                                                        <p>Here you can view and manage your favorites list.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-sm-6 col-md-4 accountbit" id="accbit6">
                                            <a href="/pages/bidding_history">
                                                <div class="account-block">
                                                    <div class="icon">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </div>
                                                    <div class="description">
                                                        <h3>Bidding History</h3>
                                                        <hr>
                                                            <p>Here you can view your bidding history.</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="clearfix"></div>
                                            <hr>
                                                <a class="btn btn-default pull-right" href="">Logout</a>
                                            </div>
                                        </div>
