<div class="col-md-4 col-sm-4 pull-left adminedit1">
    <form method="post" name="PACKAGESFORM" action="http://bidzone.ca/index.php/add-listing-3/" id="PACKAGESFORM">
        <input type="hidden" name="packageID" id="packageID" value="-1">
        <a href="javascript:void(0);" onclick="document.getElementById('packageID').value='0';document.PACKAGESFORM.submit();">
            <div class="clearfix packblock selected">
                <div class="wrap">
                    <div class="price">
                        <span>$10</span>
                    </div>
                    <span class="fa fa-info-circle pull-right infom0"></span>
                    <h4>Example Package 1</h4>
                    <p>Special Offer!</p>
                </div>
            </div>
        </a>
        <!-- PACKAGE DESCRIPTION -->
        <div id="myModal0" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h4 class="modal-title">Example Package 1</h4>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. Pellentesque nec lacus elit. Pellentesque convallis nisi ac augue pharetra eu tristique neque consequat. Mauris ornare tempor nulla, vel sagittis diam convallis eget.</p>
                        <ul class="list-group">
                            <li class="list-group-item ">$10 for a 30 day listing.</li>
                            <li class="list-group-item row-odd">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">Front Page Exposure</span>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item row-even">
                                <span class="col-md-2"><i class="glyphicon glyphicon-ok"></i></span>
                                <span class="col-md-10">Featured Listing</span>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item row-odd">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">HTML Listing Content</span>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item row-even">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">Visitor Counter</span>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item row-odd">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">Top of Category</span>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item row-even">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">Google Map</span>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end PACKAGE DESCRIPTION -->
        <script>
        jQuery('.infom0').hover(function() {
        jQuery('#myModal0').modal({
        show: true
        });
        });
        </script>
        <a href="javascript:void(0);" onclick="document.getElementById('packageID').value='1';document.PACKAGESFORM.submit();">
            <div class="clearfix packblock ">
                <div class="wrap">
                    <div class="price">
                        <span>$20</span>
                    </div>
                    <span class="fa fa-info-circle pull-right infom1"></span>
                    <h4>Example Package 2</h4>
                    <p>Most Popular</p>
                </div>
            </div>
        </a>
        <!-- PACKAGE DESCRIPTION -->
        <div id="myModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h4 class="modal-title">Example Package 2</h4>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. Pellentesque nec lacus elit. Pellentesque convallis nisi ac augue pharetra eu tristique neque consequat. Mauris ornare tempor nulla, vel sagittis diam convallis eget.</p>
                        <ul class="list-group">
                            <li class="list-group-item ">$20 for a 30 day listing.</li>
                            <li class="list-group-item row-odd">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">Front Page Exposure</span>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item row-even">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">Featured Listing</span>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item row-odd">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">HTML Listing Content</span>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item row-even">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">Visitor Counter</span>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item row-odd">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">Top of Category</span>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item row-even">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">Google Map</span>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end PACKAGE DESCRIPTION -->
        <script>
        jQuery('.infom1').hover(function() {
        jQuery('#myModal1').modal({
        show: true
        });
        });
        </script>
        <a href="javascript:void(0);" onclick="document.getElementById('packageID').value='2';document.PACKAGESFORM.submit();">
            <div class="clearfix packblock ">
                <div class="wrap">
                    <div class="price">
                        <span>$30</span>
                    </div>
                    <span class="fa fa-info-circle pull-right infom2"></span>
                    <h4>Example Package 3</h4>
                    <p>Great Value!</p>
                </div>
            </div>
        </a>
        <!-- PACKAGE DESCRIPTION -->
        <div id="myModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h4 class="modal-title">Example Package 3</h4>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. Pellentesque nec lacus elit. Pellentesque convallis nisi ac augue pharetra eu tristique neque consequat. Mauris ornare tempor nulla, vel sagittis diam convallis eget.</p>
                        <ul class="list-group">
                            <li class="list-group-item ">$30 for a 30 day listing.</li>
                            <li class="list-group-item row-odd">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">Front Page Exposure</span>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item row-even">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">Featured Listing</span>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item row-odd">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">HTML Listing Content</span>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item row-even">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">Visitor Counter</span>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item row-odd">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">Top of Category</span>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item row-even">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">Google Map</span>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end PACKAGE DESCRIPTION -->
        <script>
        jQuery('.infom2').hover(function() {
        jQuery('#myModal2').modal({
        show: true
        });
        });
        </script>
        <a href="javascript:void(0);" onclick="document.getElementById('packageID').value='3';document.PACKAGESFORM.submit();">
            <div class="clearfix packblock ">
                <div class="wrap">
                    <div class="price">
                        <span>$100</span>
                    </div>
                    <span class="fa fa-info-circle pull-right infom3"></span>
                    <h4>Example Package 4</h4>
                    <p>Big Savings!</p>
                </div>
            </div>
        </a>
        <!-- PACKAGE DESCRIPTION -->
        <div id="myModal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h4 class="modal-title">Example Package 4</h4>
                    </div>
                    <div class="modal-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue. Pellentesque nec lacus elit. Pellentesque convallis nisi ac augue pharetra eu tristique neque consequat. Mauris ornare tempor nulla, vel sagittis diam convallis eget.</p>
                        <ul class="list-group">
                            <li class="list-group-item ">$100 for a 30 day listing.</li>
                            <li class="list-group-item row-odd">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">Front Page Exposure</span>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item row-even">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">Featured Listing</span>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item row-odd">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">HTML Listing Content</span>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item row-even">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">Visitor Counter</span>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item row-odd">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">Top of Category</span>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item row-even">
                                <span class="col-md-2"><i class="glyphicon glyphicon-remove"></i></span>
                                <span class="col-md-10">Google Map</span>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end PACKAGE DESCRIPTION -->
        <script>
        jQuery('.infom3').hover(function() {
        jQuery('#myModal3').modal({
        show: true
        });
        });
        </script>
    </form>
    <div class="panel panel-default" id="enhancementsblock">
        <div class="panel-body">
            <h4>Listing Enhancements</h4>
            <p>Enhance your listing with any of the additional features below;</p>
            <ul class="list-group">
                <li>
                    <div class="checkbox">
                        <input checked="checked" disabled="" type="checkbox" name="enhancement[2]" id="exh2">
                        <input type="hidden" name="enhancement[2]" value="on">
                        <span class="badge badge-success"> <strike>$15</strike></span> <span class="label label-success">included</span> Featured Listing
                        <span class="fa fa-info-circle pull-right eninfo2" style="cursor:pointer"></span>
                        <script>
                        jQuery('.eninfo2').hover(function() {
                        jQuery('#myeninfo2').modal({
                        show: true
                        });
                        });
                        </script>
                        <div id="myeninfo2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3><b>Featured Listing</b></h3>
                                    </div>
                                    <div class="modal-body">
                                        <p>Purchase this listing enhancement and see your listing highlighted in search results! </p>
                                        <p> What better way to get your listing seen by visitors searching the website than with a highlighted listing standing out above the rest!</p>
                                        <p></p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="checkbox">
                        <input type="checkbox" name="enhancement[3]" onclick="listingenhancement('exh3',10)" id="exh3">
                        <span class="badge exh3_b"> $10</span> HTML Listing Content
                        <span class="fa fa-info-circle pull-right eninfo3" style="cursor:pointer"></span>
                        <script>
                        jQuery('.eninfo3').hover(function() {
                        jQuery('#myeninfo3').modal({
                        show: true
                        });
                        });
                        </script>
                        <div id="myeninfo3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3><b>HTML Listing Content</b></h3>
                                    </div>
                                    <div class="modal-body">
                                        <p>Purchase this listing enhancement and bring your listing to life with HTML content! </p>
                                        <p> Customize your listing description with your own formatting, content and images with this feature.</p> __(
                                        <p></p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="checkbox">
                        <input type="checkbox" name="enhancement[4]" onclick="listingenhancement('exh4',10)" id="exh4">
                        <span class="badge exh4_b"> $10</span> Visitor Counter
                        <span class="fa fa-info-circle pull-right eninfo4" style="cursor:pointer"></span>
                        <script>
                        jQuery('.eninfo4').hover(function() {
                        jQuery('#myeninfo4').modal({
                        show: true
                        });
                        });
                        </script>
                        <div id="myeninfo4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3><b>Visitor Counter</b></h3>
                                    </div>
                                    <div class="modal-body">
                                        <p>Purchase this listing enhancement and we'll monitor your listing visits. </p>
                                        <p>Find out which of your listings is performing better with our visitor counter which will record all clicks on your listings and display then to you (visible to you only) at the bottom of your listings.</p>
                                        <p></p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="checkbox">
                        <input type="checkbox" name="enhancement[5]" onclick="listingenhancement('exh5',5)" id="exh5">
                        <span class="badge exh5_b"> $5</span> Top of Category
                        <span class="fa fa-info-circle pull-right eninfo5" style="cursor:pointer"></span>
                        <script>
                        jQuery('.eninfo5').hover(function() {
                        jQuery('#myeninfo5').modal({
                        show: true
                        });
                        });
                        </script>
                        <div id="myeninfo5" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3><b>Top of Category</b></h3>
                                    </div>
                                    <div class="modal-body">
                                        <p>Purchase this listing enhancement and we'll feature your listing at the top of your chosen category pages.</p>
                                        <p> This great feature will bring more exposure to your listing. Whenever a user searches a chosen category your listing will appear before all others at the top.</p>
                                        <p></p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="checkbox">
                        <input type="checkbox" name="enhancement[6]" onclick="listingenhancement('exh6',15)" id="exh6">
                        <span class="badge exh6_b"> $15</span> Google Map
                        <span class="fa fa-info-circle pull-right eninfo6" style="cursor:pointer"></span>
                        <script>
                        jQuery('.eninfo6').hover(function() {
                        jQuery('#myeninfo6').modal({
                        show: true
                        });
                        });
                        </script>
                        <div id="myeninfo6" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3><b>Google Map</b></h3>
                                    </div>
                                    <div class="modal-body">
                                        <p>Purchase this listing enhancement and we'll display a map on your listing page.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <hr>
            <p>Total Payment: </p>
            <div class="alert alert-success text-center totalpayment">$<span id="listingprice">10</span> for a 30 day listing.</div>
        </div>
    </div>
</div>
