<div class="page-wrapper " id="listing_styles">


  <div id="core_padding">


    <div id="core_padding_inner">

      <div class=" container widecontainer core_section_top_container">


        <div class="row core_section_top_row wlt_main_2colsleft">


          <div id="core_inner_wrap" class="clearfix">


            <aside class="core_sidebar col-md-3 col-sm-3 hidden-xs" id="core_left_column">


              <h2>sidebar partial</h2>

            </aside>


            <article class="col-md-820 col-sm-820" id="core_middle_column">
              <div class="core_middle_wrap">
                <div id="core_ajax_callback"></div>



                  <!-- account content start -->
                  <div class="panel panel-default" id="MyDetailsBlock" >

                  <div class="panel-heading">My Account</div>

                  <div class="panel-body">

                    <form action="" method="post" onsubmit="return ValidateCoreRegFields();" enctype="multipart/form-data" id="myaccountdataform" name="myaccountdataform">
                      <input type="hidden" name="action" value="update">

                      <h4>My Account</h4>

                      <hr>

                      <div class="col-md-6">


                        <div class="form-group">
                          <label class="control-label"><i class="icon-envelope"></i> Email</label>
                          <div class="controls">
                            <input type="text" name="email" class="form-control" value="saran.mostlylinux@gmail.com" disabled="disabled">
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label"><i class="icon-globe"></i> Website</label>
                          <div class="controls">
                            <input type="text" name="url" class="form-control" value="">
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label"><i class="icon-bell"></i> Phone</label>
                          <div class="controls">
                            <input type="text" name="phone" class="form-control" value="">
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label">Country</label>
                          <div class="controls">
                            <select name="country" class="form-control">
                              <option selected="selected" value="AF">Afghanistan</option>
                              <option value="AL">Albania</option>
                              <option value="DZ">Algeria</option>
                              <option value="AD">Andorra</option>
                              <option value="AO">Angola</option>
                              <option value="AG">Antigua and Barbuda</option>
                              <option value="AR">Argentina</option>
                              <option value="AM">Armenia</option>
                              <option value="AU">Australia</option>
                              <option value="AT">Austria</option>
                              <option value="AZ">Azerbaijan</option>
                              <option value="BS">The Bahamas</option>
                              <option value="BH">Bahrain</option>
                              <option value="BD">Bangladesh</option>
                              <option value="BB">Barbados</option>
                              <option value="BY">Belarus</option>
                              <option value="BE">Belgium</option>
                              <option value="BZ">Belize</option>
                              <option value="BJ">Benin</option>
                              <option value="BT">Bhutan</option>
                              <option value="BO">Bolivia</option>
                              <option value="BA">Bosnia and Herzegovina</option>
                              <option value="BW">Botswana</option>
                              <option value="BR">Brazil</option>
                              <option value="BN">Brunei</option>
                              <option value="BG">Bulgaria</option>
                              <option value="BF">Burkina Faso</option>
                              <option value="BI">Burundi</option>
                              <option value="KH">Cambodia</option>
                              <option value="CM">Cameroon</option>
                              <option value="CA">Canada</option>
                              <option value="CV">Cape Verde</option>
                              <option value="CF">Central African Republic</option>
                              <option value="TD">Chad</option>
                              <option value="CL">Chile</option>
                              <option value="CN">China</option>
                              <option value="CO">Colombia</option>
                              <option value="KM">Comoros</option>
                              <option value="CG">Congo, Republic of the</option>
                              <option value="CD">Congo, Democratic Republic of the</option>
                              <option value="CR">Costa Rica</option>
                              <option value="CI">Cote d'Ivoire</option>
                              <option value="HR">Croatia</option>
                              <option value="CU">Cuba</option>
                              <option value="CY">Cyprus</option>
                              <option value="CZ">Czech Republic</option>
                              <option value="DK">Denmark</option>
                              <option value="DJ">Djibouti</option>
                              <option value="DM">Dominica</option>
                              <option value="DO">Dominican Republic</option>
                              <option value="TL">Timor-Leste</option>
                              <option value="EC">Ecuador</option>
                              <option value="EG">Egypt</option>
                              <option value="SV">El Salvador</option>
                              <option value="GQ">Equatorial Guinea</option>
                              <option value="ER">Eritrea</option>
                              <option value="EE">Estonia</option>
                              <option value="ET">Ethiopia</option>
                              <option value="FJ">Fiji</option>
                              <option value="FI">Finland</option>
                              <option value="FR">France</option>
                              <option value="GA">Gabon</option>
                              <option value="GM">Gambia</option>
                              <option value="GE">Georgia</option>
                              <option value="DE">Germany</option>
                              <option value="GH">Ghana</option>
                              <option value="GR">Greece</option>
                              <option value="GL">Greenland</option>
                              <option value="GD">Grenada</option>
                              <option value="GT">Guatemala</option>
                              <option value="GN">Guinea</option>
                              <option value="GW">Guinea-Bissau</option>
                              <option value="GY">Guyana</option>
                              <option value="HT">Haiti</option>
                              <option value="HN">Honduras</option>
                              <option value="HU">Hungary</option>
                              <option value="IS">Iceland</option>
                              <option value="IN">India</option>
                              <option value="ID">Indonesia</option>
                              <option value="IR">Iran</option>
                              <option value="IQ">Iraq</option>
                              <option value="IE">Ireland</option>
                              <option value="IL">Israel</option>
                              <option value="IT">Italy</option>
                              <option value="JM">Jamaica</option>
                              <option value="JP">Japan</option>
                              <option value="JO">Jordan</option>
                              <option value="KZ">Kazakhstan</option>
                              <option value="KE">Kenya</option>
                              <option value="KI">Kiribati</option>
                              <option value="KP">Korea, North</option>
                              <option value="KR">Korea, South</option>
                              <option value="ZZ">Kosovo</option>
                              <option value="KW">Kuwait</option>
                              <option value="KG">Kyrgyzstan</option>
                              <option value="LA">Laos</option>
                              <option value="LV">Latvia</option>
                              <option value="LB">Lebanon</option>
                              <option value="LS">Lesotho</option>
                              <option value="LR">Liberia</option>
                              <option value="LY">Libya</option>
                              <option value="LI">Liechtenstein</option>
                              <option value="LT">Lithuania</option>
                              <option value="LU">Luxembourg</option>
                              <option value="MK">Macedonia</option>
                              <option value="MG">Madagascar</option>
                              <option value="MW">Malawi</option>
                              <option value="MY">Malaysia</option>
                              <option value="MV">Maldives</option>
                              <option value="ML">Mali</option>
                              <option value="MT">Malta</option>
                              <option value="MH">Marshall Islands</option>
                              <option value="MR">Mauritania</option>
                              <option value="MU">Mauritius</option>
                              <option value="MX">Mexico</option>
                              <option value="FM">Micronesia, Federated States of</option>
                              <option value="MD">Moldova</option>
                              <option value="MC">Monaco</option>
                              <option value="MN">Mongolia</option>
                              <option value="ME">Montenegro</option>
                              <option value="MA">Morocco</option>
                              <option value="MZ">Mozambique</option>
                              <option value="MM">Myanmar (Burma)</option>
                              <option value="NA">Namibia</option>
                              <option value="NR">Nauru</option>
                              <option value="NP">Nepal</option>
                              <option value="NL">Netherlands</option>
                              <option value="NZ">New Zealand</option>
                              <option value="NI">Nicaragua</option>
                              <option value="NE">Niger</option>
                              <option value="NG">Nigeria</option>
                              <option value="NO">Norway</option>
                              <option value="OM">Oman</option>
                              <option value="PK">Pakistan</option>
                              <option value="PW">Palau</option>
                              <option value="PA">Panama</option>
                              <option value="PG">Papua New Guinea</option>
                              <option value="PY">Paraguay</option>
                              <option value="PE">Peru</option>
                              <option value="PH">Philippines</option>
                              <option value="PL">Poland</option>
                              <option value="PT">Portugal</option>
                              <option value="QA">Qatar</option>
                              <option value="RO">Romania</option>
                              <option value="RU">Russia</option>
                              <option value="RW">Rwanda</option>
                              <option value="KN">Saint Kitts and Nevis</option>
                              <option value="LC">Saint Lucia</option>
                              <option value="VC">Saint Vincent and the Grenadines</option>
                              <option value="WS">Samoa</option>
                              <option value="SM">San Marino</option>
                              <option value="ST">Sao Tome and Principe</option>
                              <option value="SA">Saudi Arabia</option>
                              <option value="SN">Senegal</option>
                              <option value="RS">Serbia</option>
                              <option value="SC">Seychelles</option>
                              <option value="SL">Sierra Leone</option>
                              <option value="SG">Singapore</option>
                              <option value="SK">Slovakia</option>
                              <option value="SI">Slovenia</option>
                              <option value="SB">Solomon Islands</option>
                              <option value="SO">Somalia</option>
                              <option value="ZA">South Africa</option>
                              <option value="SS">South Sudan</option>
                              <option value="ES">Spain</option>
                              <option value="LK">Sri Lanka</option>
                              <option value="SD">Sudan</option>
                              <option value="SR">Suriname</option>
                              <option value="SZ">Swaziland</option>
                              <option value="SE">Sweden</option>
                              <option value="CH">Switzerland</option>
                              <option value="SY">Syria</option>
                              <option value="TW">Taiwan</option>
                              <option value="TJ">Tajikistan</option>
                              <option value="TZ">Tanzania</option>
                              <option value="TH">Thailand</option>
                              <option value="TG">Togo</option>
                              <option value="TO">Tonga</option>
                              <option value="TT">Trinidad and Tobago</option>
                              <option value="TN">Tunisia</option>
                              <option value="TR">Turkey</option>
                              <option value="TM">Turkmenistan</option>
                              <option value="TV">Tuvalu</option>
                              <option value="UG">Uganda</option>
                              <option value="UA">Ukraine</option>
                              <option value="AE">United Arab Emirates</option>
                              <option value="GB">United Kingdom</option>
                              <option value="US">United States of America</option>
                              <option value="UY">Uruguay</option>
                              <option value="UZ">Uzbekistan</option>
                              <option value="VU">Vanuatu</option>
                              <option value="VA">Vatican City (Holy See)</option>
                              <option value="VE">Venezuela</option>
                              <option value="VN">Vietnam</option>
                              <option value="YE">Yemen</option>
                              <option value="ZM">Zambia</option>
                              <option value="ZW">Zimbabwe</option>
                              <option value="HK">Hong Kong</option>
                            </select>
                          </div>
                        </div>

                      </div>

                      <div class="col-md-6">


                        <div class="bs-callout bs-callout-warning">

                          <div class="form-group">
                            <label class="control-label"><i class="icon-lock"></i> Password</label>
                            <div class="controls">
                              <input type="password" name="password" class="form-control">

                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label"><i class="icon-lock"></i> Re-Type Password</label>
                            <div class="controls">
                              <input type="password" name="password_r" class="form-control">
                            </div>
                          </div>

                        </div>

                        <script type="text/javascript">
                          function ValidateCoreRegFields() {}
                        </script>

                      </div>


                      <div class="col-md-12">
                        <label class="control-label"><i class="icon-comment"></i> About Me/ Extra Details</label>
                        <textarea style="height:120px;" class="form-control" name="description"></textarea>
                      </div>


                      <div class="clearfix"></div>


                      <div class="clearfix"></div>

                      <hr>


                      <div class="clearfix"></div>


                      <div class="clearfix"></div>
                      <hr>

                      <button class="btn btn-primary" type="submit">Save Changes</button>
                      <button class="btn btn-default pull-right" type="button" onclick="jQuery('#MyAccountBlock').show();jQuery('#MyDetailsBlock').hide();">Back</button>

                    </form>


                  </div>

                </div>
                  <!-- account content end -->

                  <!-- memberships form -->
                <form method="post" name="MEMBERSHIPFORM" action="http://bidzone.ca/index.php/my-account-3/" id="MEMBERSHIPFORM" style="margin:0px;padding:0px;">

                  <input type="hidden" name="membershipID" id="membershipID" value="-1">
                  <input type="hidden" name="showpaymentform" value="1">
                </form>


              </div>
            </article>


          </div>

        </div>

      </div>

    </div>

  </div>

</div>
