<div id="core_padding">


  <div id="core_padding_inner">

    <div class=" container widecontainer core_section_top_container">


      <div class="row core_section_top_row wlt_main_2colsright">


        <div id="core_inner_wrap" class="clearfix">


          <article class="col-md-12" id="core_middle_column">
            <div class="core_middle_wrap">
              <div id="core_ajax_callback"></div>


              <div class="panel panel-default">

                <div class="panel-heading">Forgotten Password?</div>

                <div class="panel-body">


                  <form class="lostpasswordform" name="lostpasswordform" id="lostpasswordform" action="http://bidzone.ca/wp-login.php?action=lostpassword" method="post">

                    <p>Enter your account username or email below and we will send you a new password.</p>

                    <div class="form-group clearfix">
                      <label for="name">Username or Email:</label>
                      <input type="text" name="user_login" id="user_login" value="" class="form-control">
                    </div>


                    <div class="clearfix"></div>

                    <hr>

                    <input type="submit" name="submit" id="submit" class="btn btn-primary" tabindex="15" value="Send me a new password">

                  </form>

                </div>

              </div>


            </div>
          </article>


        </div>

      </div>

    </div>

  </div>

</div>
