<div class="core_middle_wrap"><div id="core_ajax_callback"></div>

      <div class="taxonomytitle">

          <h1><%= category.name if category.present?%></h1>

          <h4>We have found <b class="num">0</b> items matching your search query.</h4>



      </div>

      <div class="clearfix"></div>


      <hr>

       <i class="fa fa-frown-o" style="font-size:70px; float:left; margin-right:20px; "></i>

      <h4>There were no results found for your search query.</h4>

      <h5>We did not find any results for your search query. Please try again with a different search query.</h5>

      <div class="clearfix"></div>

      <hr>

</div>
