<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58f7a00e618bd975"></script> 
<div class="addthis_inline_share_toolbox item-share-actions" 
	addthis:media="<%= site_url @item.images.first.file.url if @item.images.length > 0 %>"
></div>
