<footer id="footer">

  <div id="footer_content">

    <div class="container">

      <div class="row clearfix">

        <div class="col-md-3">
          <div class="footer-block">
            <div class="footer-block-title">Example Footer Widget&nbsp;</div>
            <div class="footer-block-content">
              <div class="textwidget">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend
                risus ut congue. Pellentesque nec lacus elit. Pellentesque convallis nisi ac augue pharetra eu tristique
                neque consequat. Mauris ornare tempor nulla, vel sagittis diam convallis eget.
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 hidden-xs">
          <div class="footer-block">
            <div class="footer-block-title">Example Footer Widget&nbsp;</div>
            <div class="footer-block-content">
              <div class="textwidget">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend
                risus ut congue. Pellentesque nec lacus elit. Pellentesque convallis nisi ac augue pharetra eu tristique
                neque consequat. Mauris ornare tempor nulla, vel sagittis diam convallis eget.
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 hidden-xs">
          <div class="footer-block">
            <div class="footer-block-title">Example Footer Widget&nbsp;</div>
            <div class="footer-block-content">
              <div class="textwidget">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend
                risus ut congue. Pellentesque nec lacus elit. Pellentesque convallis nisi ac augue pharetra eu tristique
                neque consequat. Mauris ornare tempor nulla, vel sagittis diam convallis eget.
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 hidden-xs">
          <div class="footer-block">
            <div class="footer-block-title">Example Footer Widget&nbsp;</div>
            <div class="footer-block-content">
              <div class="textwidget">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend
                risus ut congue. Pellentesque nec lacus elit. Pellentesque convallis nisi ac augue pharetra eu tristique
                neque consequat. Mauris ornare tempor nulla, vel sagittis diam convallis eget.
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div id="footer_bottom">

    <div class="container">

      <div class="row clearfix">


        <div class="pull-left copybit"> © Copyright 2016 - http://bidzone.ca</div>

        <a href="/" class="back-btn">Back to home</a>

        <ul class="socialicons list-inline pull-right">
          <li>
            <a href="##" class="twitter" rel="nofollow" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="##" class="facebook" rel="nofollow" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="##" class="linkedin" rel="nofollow" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="##" class="youtube" rel="nofollow" target="_blank">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="##" class="rss" rel="nofollow" target="_blank">
              <i class="fa fa-rss"></i>
            </a>
          </li>
        </ul>
      </div>

    </div>

  </div>

</footer>
