<p class="dl-address">Delivery Address</p>

<div class="row">
  <div class="col-md-6">
    <div class="form-group required">
      <label for="first_name" class="control-label">First Name</label>
      <input type="text" class="form-control" name="first_name" id="first_name">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group required">
      <label for="last_name" class="control-label">Last Name</label>
      <input type="text" class="form-control" name="last_name" id="last_name">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group required">
      <label for="email" class="control-label">Email Address</label>
      <input type="email" class="form-control" name="email" id="email">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group required">
      <label for="phone" class="control-label">Phone</label>
      <input type="text" class="form-control" name="phone" id="phone">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group required">
      <label for="country" class="control-label">Country</label>
      <div class="form-control select">
        <select name="country" id="country" class="form-control">
          <option value="1">
            England
          </option>
          <option value="2">
            United States
          </option>
          <option value="3">
            Canada
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group required">
      <label for="st_address" class="control-label">Address</label>
      <input type="text" class="form-control" name="st_address" id="st_address" placeholder="Street address">
      <input type="text" class="form-control" name="ap_address" id="ap_address" placeholder="Apartment, suite, unit etc. (optional)">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group required">
      <label for="city" class="control-label">Town / City</label>
      <input type="text" class="form-control" name="city" id="city">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group required">
      <label for="state" class="control-label">State / Country</label>
      <input type="text" class="form-control" name="state" id="state">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group required">
      <label for="zip" class="control-label">Postcode / Zip</label>
      <input type="text" class="form-control" name="zip" id="zip">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group d-flex justify-center">
      <button type="button" class="bz-oval-btn mc" id="nextToAddress">NEXT</button>
    </div>
  </div>
</div>
