<p class="dl-address">Choose Your Payment Method</p>

<div class="row">
  <div class="col-md-12">
    <div class="form-group required">
      <label for="cc_number" class="control-label">Credit Card Number</label>
      <input type="text" class="form-control" name="cc_number" id="cc_number">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group required">
      <label for="cvv_code" class="control-label">CVV Code</label>
      <input type="text" class="form-control" name="cvv_code" id="cvv_code">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group required">
      <label for="expired_date" class="control-label">Expiry Date</label>
      <input type="text" class="form-control" name="expired_date" id="expired_date">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group required">
      <label for="card_name" class="control-label">Name on Card</label>
      <input type="text" class="form-control" name="card_name" id="card_name">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group d-flex justify-center">
      <button type="button" class="bz-oval-btn mc prev" id="beforeToMethod">Previous</button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group d-flex justify-center">
      <button type="button" class="bz-oval-btn mc" id="nextToMethod">Complete Payment</button>
    </div>
  </div>
</div>