<p class="dl-address">Payment Confirmation</p>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table custom-datatable">
        <thead>
        <tr>
          <th><h4 class="pc-data">PRODUCT</h4></th>
          <th><h4 class="pc-data">RENT PER DAY</h4></th>
          <th><h4 class="pc-data">TOTAL RENT</h4></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Item Description</td>
          <td>$250.00</td>
          <td>$1500.00</td>
        </tr>
        <tr>
          <td class="border-none">Drop-off Service</td>
          <td class="border-none"></td>
          <td class="border-none">$20.00</td>
        </tr>
        <tr>
          <td colspan="2"><h4 class="pc-data">TOTAL</h4></td>
          <td><h4 class="pc-data">$1520.00</h4></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 d-flex justify-center" style="margin-top: 30px;">
    <h4>Would you like to confirm your order for payment?</h4>
  </div>
  <div class="col-md-6">
    <div class="form-group d-flex justify-center">
      <button type="button" class="bz-oval-btn mc prev" id="beforeToConfirmation">Previous</button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group d-flex justify-center">
      <button type="submit" class="bz-oval-btn mc" id="nextToConfirmation">Yes, Proceed Payment</button>
    </div>
  </div>
</div>